#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-box {
    display: flex;
    width: min-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid #686e7a;
    position: relative;
    color: #686e7a;
}
.search-box:hover{
    border: 1px solid #fff;
}
#search-text{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;  
    height: 1.5rem;
}
.searchbox-icon {
    position: absolute;
    right: 1rem;
}
.playlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 16px;
    gap: 16px;
}
.playlist_item {    
    background-color: #434c5e;
    color: #fff;
    padding: .75rem;
    border-radius: 8px;
}
.playlist_item:hover{
    background-color: #4c566a;
}
.image_wrapper{
    width: 100%;
    aspect-ratio: 16/9;
}
.playlist_item img {
    border-radius: 8px;
    height: 100%;
   width: 100%;
    object-fit: cover;
}
.playlist_title {
    font-weight: 600;
    text-align: left;
    color: #E5E9F0;
    font-size: 14px;
    margin-top: 0.5rem;
}
.playlist_channel_title {
    text-align: left;
    color: #b3b3b3;
    font-size: 12px;
} 